<div class="main-p-3"> <!-- MAIN-P-3 CONTENIDO PRINCIPAL -->
    <nav class="navbar navbar-expand px-3 border-bottom">
        <button class="btn" id="sidebar-toggle" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
  
           <div class="w-100" > <!-- <EL BUSCADOR -->
              <!-- Contenido colapsable de la barra de navegación -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Contenedor para alinear los elementos a la izquierda -->
            <div class="container-fluid d-flex justify-content-start align-items-center">
              <!-- Formulario de búsqueda alineado a la izquierda -->
              <form class="position-relative d-flex align-items-center me-3" role="search">
                <div class="input-group">
                  <input class="form-control" type="search" placeholder="Buscar" aria-label="Search">
                  <span class="input-group-text"><i class="icon ion-md-search"></i></span>
                </div>
              </form>
          
            <!-- Elementos de navegación -->
              <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Angie
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
  
                <!-- Selector de tema -->
                <li class="nav-item dropdown">
                  <button
                    class="btn btn-link nav-link py-1 px-0 px-lg-2 dropdown-toggle d-flex align-items-center theme-toggle"
                    id="bd-theme"
                    type="button"
                    aria-expanded="false"
                    data-bs-toggle="dropdown"
                    data-bs-display="static"
                  >
                    <svg
                      class="bi my-1 theme-icon-active"
                      width="16"
                      height="16"
                      fill="currentColor"
                    >
                      <use href="#circle-half"></use>
                    </svg>
                    <span class="d-lg-none ms-2">Toggle theme</span>
                  </button>
                
                  <ul
                    class="dropdown-menu dropdown-menu-end px-1"
                    aria-labelledby="bd-theme"
                  >
                    <li>
                      <button
                        type="button"
                        class="dropdown-item d-flex align-items-center"
                        data-bs-theme-value="light"
                      >
                        <svg
                          class="bi me-2 opacity-50 theme-icon"
                          width="16"
                          height="16"
                          fill="currentColor"
                        >
                          <use href="#sun-fill"></use>
                        </svg>
                        Light
                      </button>
                    </li>
                    <li>
                      <button
                        type="button"
                        class="dropdown-item d-flex align-items-center"
                        data-bs-theme-value="dark"
                      >
                        <svg
                          class="bi me-2 opacity-50 theme-icon"
                          width="16"
                          height="16"
                          fill="currentColor"
                        >
                          <use href="#moon-stars-fill"></use>
                        </svg>
                        Dark
                      </button>
                    </li>
                    <li>
                      <button
                        type="button"
                        class="dropdown-item d-flex align-items-center"
                        data-bs-theme-value="auto"
                      >
                        <svg
                          class="bi me-2 opacity-50 theme-icon"
                          width="16"
                          height="16"
                          fill="currentColor"
                        >
                          <use href="#circle-half"></use>
                        </svg>
                        Auto
                      </button>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
        
  <!--oTRA navegación -->
  
    <ul class="nav nav-underline">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  
  