
<main class="content px-3 py-2">
    <div class="main-p-3"> <!-- MAIN-P-3 CONTENIDO PRINCIPAL -->
        <div class="mb-3">
           
        </div>
        <div class="row">
            <div class="col-12 col-md-5 d-flex">
                <div class="custom-background flex-fill custom-border custom-style card-common">
                    <div class="card-body py-4">
                        <div class="d-flex align-items-start">
                            <div class="flex-grow-1">
                                <h4 class="mb-2">
                                    $ 78.00
                                </h4>
                                    <p class="mb-2">
                                        CASINO
                                    </p>
                                    
                                    <div class="mb-0">
                                        <span class="badge text-success me-2">
                                            +9.0%
                                        </span>
                                        <span class="text-muted">
                                            Total de asientos
                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-5 d-flex">
              <div class="custom-background flex-fill custom-border custom-style card-common">
                  <div class="card-body py-4">
                      <div class="d-flex align-items-start">
                          <div class="flex-grow-1">
                              <h4 class="mb-2">
                                  $ 78.00
                              </h4>
                              <p class="mb-2">
                                 TGM
                              </p>
                              <div class="mb-0">
                                  <span class="badge text-success me-2">
                                      +9.0%
                                  </span>
                                  <span class="text-muted">
                                      Total de asientos
                                  </span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <app-chart-ejemplo></app-chart-ejemplo> -->


        <!-- CONTENDIDO CARDS GROUP -->
         <div class="conner-imagenes">
        <div class="container-card">
          <div class="d-flex flex-row">
            <div class="card" style="width: 15rem; margin-left: 7rem;">
              <img src="assets/imagenes/whatsap.png" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>

            <div class="card" style="width: 15rem;  margin-left: 9rem; margin-right: 3rem;">
              <img src="assets/imagenes/twiter.png" class="card-img-top" alt="height">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>

            <div class="card" style="width: 15rem; margin-left: 5rem;  margin-right: 3rem;">
              <img src="assets/imagenes/facebook.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
      </div>

<!-- FINAL de card- -->




<!-- Table Element -->


<div class="custom-container border-0">
  <div class="custom-header">
      <h5 class="custom-title">
          Basic Table
      </h5>
      <h6 class="custom-subtitle text-muted">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ducimus,
          necessitatibus reprehenderit itaque!
      </h6>
  </div>
  <div class="custom-body">
      <table class="table">
          <thead>
              <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <th scope="row">1</th><!-- estos son de los cuadros de arriba -->
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>mdo</td>
              </tr>
              <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>fat</td>
              </tr>
              <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>twitter</td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
</div>
  </main> 

